{% extends "single_content_base.html.twig" %}

{% block title %}{{ "too_late.title"|trans }}{% endblock %}

{% trans_default_domain "frontend_application" %}

{% block single_content %}
    <p>{{ "too_late.description"|trans }}</p>
{% endblock %}