{% extends "single_content_base.html.twig" %}

{% block title %}{{ "preview.title"|trans }}{% endblock %}
{% block description %}{{ "preview.description"|trans }}{% endblock %}

{% trans_default_domain "frontend_application" %}

{% block single_content %}
    <p>{{ "preview.please_remember"|trans }}</p>
    {{ form(form) }}
{% endblock %}